src/main/mule/cicd-meetup-mohali.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="cicd-meetup-mohaliFlow" doc:id="05a9e639-12f3-4a88-b567-ba5f16b00165" >
		<scheduler doc:name="Scheduler" doc:id="c16f9039-3573-4566-97a1-0de9f727164d" >
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</scheduler>
		<ee:transform doc:name="Transform Message" doc:id="45d65e42-6d40-4b52-8b27-f3ac9d4f4a5d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
		"message" : "Deployed to Cloudhub Successfully"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="1a6289ef-b6a1-43b9-a13e-900ac1ae6e17" message="#[payload]"/>
	</flow>
</mule>
